.name {
  padding-top: 200px;
  text-align: center;
  font-size: 70px;
  font-family: monospace;
  padding-bottom: 20px;
}

.red {
  color: red;
}

.red:hover {
  color: #c62d48;
}

.orange {
  color: orange;
}

.orange:hover {
  color: darkorange;
}

.yellow {
  color: yellow;
}

.yellow:hover {
  color: #c6ad00;
}

.green {
  color: green;
}

.green:hover {
  color: #98c379;
}

.blue {
  color: blue;
}

.blue:hover {
  color: #56b6c2;
}

.purple {
  color: purple;
}

.purple:hover {
  color: #b400b9;
}

input {
  width: 60%;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  display: block;
  margin: auto;
}

input:focus {
  border: 1px solid #07682c;
  outline: 0;
}

.button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #7795f8;
  text-decoration: none;
  transition: all 0.15s ease;
  outline: none;
  border: none;
}

.button:hover {
  cursor: pointer;
  color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.button:active {
  color: #7795f8;
  background-color: #fff;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button:focus {
  border: none;
  outline: 0;
}
